body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #ddddcc;
    line-height: 1.6;
}

header {
    background: #fefaf0;
    padding: 15px;
}

nav .menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav .menu li {
    margin: 5px;
}

nav .menu a {
    text-decoration: none;
    color: #232323;
    font-weight: bold;
}

nav .menu a.active {
    background-color: #e8e59b;
}

nav .menu a:hover {
    color: #0073e6;
}

nav .search input {
    padding: 5px;
    border: 1px solid #fefaf0;
    border-radius: 15px;
}

.about {
    text-align: left;
    background: #ddddcc;
    padding: 100px 20px;
}

.about h1 {
    font-size: 3.0rem;
    font-weight: bold;
    color: #232323;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.about p {
    font-size: 1.0rem;
    text-align: justify;
    text-indent: 50px;
    margin-left: 40px;
    margin-bottom: 0.5px;
    color: #232323;
}

.about li {
    font-size: 1rem;
    margin-bottom: 10px;
    margin-left: 40px;
}

footer {
    background: #e8e59b;
    text-align: center;
    padding: 40px 20px;
}

footer h2 {
    font-size: 3.0rem;
    color: #232323;
    margin-bottom: 10px;
}

footer .footer-menu {
    list-style: none;
    padding: 0;
}

footer .footer-menu li {
    display: inline;
    margin: 0px 10px;
}

footer .footer-menu a {
    text-decoration: none;
    color: #232323;
}

footer .footer-menu a.bold-link {
    font-weight: bold;
}

footer p {
    margin-top: 60px;
    color: #232323;
}
