body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #fefaf0;
    padding: 15px;
}

nav .menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav .menu li {
    margin: 5px;
}

nav .menu a {
    text-decoration: none;
    color: #232323;
    font-weight: bold;
}

nav .menu a.active {
    background-color: #e8e59b;
}

nav .menu a:hover {
    color: #0073e6;
}

nav .search input {
    padding: 5px;
    border: 1px solid #fefaf0;
    border-radius: 15px;
}

.intro {
    text-align: center;
    background: #c4c197;
    padding: 350px 350px;
    background-size: cover;
    background-position: center;
}

.intro h1 {
    margin: 0;
    font-size: 3.0rem;
    color: #232323;
}

.intro p {
    font-size: 1.8rem;
    color: #232323;
}

.latest {
    text-align: center;
    background: #fefaf0;
    padding: 50px;
}

.portfolio {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.portfolio-item p {
    font-weight: bold;
    font-size: 1rem;
    color: #232323;
    margin-top: 10px;
}

.portfolio-item img {
    width: 220px;
    height: 160px;
    object-fit: cover;
    border-radius: 15px;
}

.about {
    background: #ddddcc;
    padding: 100px;
}

.about h2 {
    font-size: 3.0rem;
}

.about .see-more-button {
    padding: 10px;
    background: #232323;
    color: #fefaf0;
    padding: 10px 10px;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.about .see-more-button:hover {
    background-color: #0073e6;
}

.about img {
    width: 450px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    float: right;
}

footer {
    background: #e8e59b;
    text-align: center;
    padding: 40px 20px;
}

footer h2 {
    font-size: 3.0rem;
    color: #232323;
    margin-bottom: 10px;
}

footer .footer-menu {
    list-style: none;
    padding: 0;
}

footer .footer-menu li {
    display: inline;
    margin: 0px 10px;
}

footer .footer-menu a {
    text-decoration: none;
    color: #232323;
}

footer .footer-menu a.bold-link {
    font-weight: bold;
}

footer p {
    margin-top: 60px;
    color: #232323;
}
